---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import TechStack from '../components/TechStack.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import I18nScript from '../components/I18nScript.astro';
import AIChat from '../components/AIChat.astro';
---

<Layout title="Plare Dev - Full Stack Developer Portfolio">
  <I18nScript />
  <Header />
  <main>
    <Hero />
    <About />
    <TechStack />
    <Projects />
    <Contact />
  </main>
  <Footer />
  <AIChat />
</Layout>
